<template>
  <div>
    <!-- ปุ่มสำหรับกำหนดค่า Router -->
    <div>
      <router-link :to="{name: 'FoodList'}">รายการอาหาร</router-link>
    </div>
    <div>
      <router-link :to="{name: 'CreateFood'}">เพิ่มรายการอาหาร</router-link>
    </div>

    <!-- ส่วนแสดงผลของ Router ที่เลือก -->
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>